<!DOCTYPE html>
<html>

<head>
    <title>Team Summary</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
    </style>
</head>

<body>
    <div class="jumbotron">
        <h1 class="text-center">My Team</h1>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-4">
                <div class="card-body">
                    <h3 class="card-title">${'name'}</h3>
                    <h3 class="card-text">Manager</h3>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: ${'id'}</li>
                    <li class="list-group-item">Email: ${'email'}</li>
                    <li class="list-group-item">Office Number: ${'officeNumber'}</li>
                </ul>
            </div>

            <div class="card col-4">
                <div class="card-body">
                    <h3 class="card-title">${'name'}</h3>
                    <h3 class="card-text">Engineer</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: ${'id'}</li>
                    <li class="list-group-item">Email: ${'email'}</li>
                    <li class="list-group-item">GitHub: ${'github'}</li>
                </ul>
            </div>

            <div class="card col-4">
                <div class="card-body">
                    <h3 class="card-title">${'name'}</h3>
                    <h3 class="card-text">Intern</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: ${'id'}</li>
                    <li class="list-group-item">Email: ${'email'}</li>
                    <li class="list-group-item">School: ${'school'}</li>
                </ul>
            </div>

            <div class="card col-4">
                <div class="card-body">
                    <h3 class="card-title">${'name'}</h3>
                    <h3 class="card-text">Intern</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: ${'id'}</li>
                    <li class="list-group-item">Email: ${'email'}</li>
                    <li class="list-group-item">School: ${'school'}</li>
                </ul>
            </div>

            <div class="card col-4">
                <div class="card-body">
                    <h3 class="card-title">${'name'}</h3>
                    <h3 class="card-text">Intern</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: ${'id'}</li>
                    <li class="list-group-item">Email: ${'email'}</li>
                    <li class="list-group-item">School: ${'school'}</li>
                </ul>
            </div>

        </div>
    </div>
</body>

</html>